{% assign documents = site.data.data.documents %}
{% if documents %}
<section class="section documents-section">

  <h2 class="section-title"><i class="fa fa-user"></i>Documents</h2>

  {% for document in documents %}
    <div class="item">
      <div class="publication-title">{{ document.title }}</div>
      <div class="publication-authors">{{ document.authors }}</div><br>
      <div class="publication-conference">{{ document.conference }}</div>
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
